.env
docker-sync.yml
*.log
node_modules/
npm-debug.log
yarn-error.log
dist/*.*
!dist/.gitkeep
build/
*.tsbuildinfo
*.db
*.db-journal
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
ssl/
backend/database/*.db
backend/database/*.db-journal
.nfs*
package-lock.json
Subjects.txt
TODO
