@import 'tailwindcss';
/* @import "tailwindcss/preflight"; */

@tailwind utilities;

@theme {
	--color-lightlight: #e0c4f8;
	--color-light: #c6a6e8;
	--color-mediumlight: #a77dc5;
	--color-medium: #a77dc5;
	--color-mediumlightdark: #8a5aa0;
	--color-mediumdark: #6e3e79;
	--color-dark: #5a2a5b;
	--color-darkdark: #4a1c4a;
}

@font-face {
	font-family: 'Goofont';
	src: url('../fonts/Goofont-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'Goofont';
}

.burger-icon {
	display: none;
	/* Caché sur le bureau */
}

.nav-mobile {
	display: none;
	/* Caché par défaut */
}

.burger-icon {
	display: none;
	/* Caché sur le bureau */
	width: 2em;
	/* Ajustez la taille de l'image */
	height: 2em;
	/* Ajustez la taille de l'image */
	cursor: pointer;
	/* Indique que l'image est cliquable */
}

@media (max-width: 768px) {
	#nav-desktop {
		display: none;
		/* Caché sur mobile */
	}

	.burger-icon {
		display: block;
		/* Affiché sur mobile */
	}

	.nav-mobile.show {
		display: flex;
		display: block;
		transform: translateX(0);
		/* Déplace le menu à sa position d'origine */
	}

	.defdiv {
		@apply w-full max-w-full;
	}
}

@media (max-width: 400px) {

	#registerFeedback,
	#loginFeedback {
		font-size: 0.8em;
	}
}

.btn {
	@apply text-white bg-light p-2 mb-2 w-full rounded-xl;
}

.btn:hover {
	@apply bg-lightlight;
}

.btn:active {
	@apply bg-mediumdark text-white shadow-inner scale-95;
}

.btn-active {
	/* add a pressed deep button effect */
	@apply bg-mediumdark text-white shadow-inner scale-95;
}

.btn-confirm {
	@apply bg-medium text-white w-50;
}

.burger-btn {
	@apply text-light block w-full p-4 pl-8 transition-all duration-200;
}

.burger-btn:hover {
	@apply bg-mediumlight;
}

.burger-btn:active {
	@apply duration-1 bg-mediumlight;
}

/* border des div dans le .content */
.defdiv {
	@apply bg-mediumlight rounded-xl p-2 m-2 flex text-lightlight text-center;
}

/* div dans le content (div interne a defdiv) */
.indiv {
	@apply bg-mediumlightdark rounded-xl m-1;
}

header {
	@apply fixed top-0 w-full bg-mediumdark text-white p-4 z-30 h-19;
}

body {
	@apply flex flex-col min-h-screen bg-light pt-20;
}

footer {
	@apply mt-auto p-10 pt-16 text-xs text-center bg-mediumdark text-darkdark;
}

.content {
	@apply flex flex-wrap justify-center items-start m-0;
}

.abusdiv {
	@apply rounded-lg bg-mediumlightdark p-4 w-full box-border;
}
