<!-- BODY -->
<div class="content flex justify-center items-center">
  <div class="defdiv w-1/3 flex flex-col">
      <a href="#" class="registerLink block text-white bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1 text-center">
        create <br />account
      </a>
      <a data-page="pongGame" href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1 text-center text-white">
        play <br />unregistered
      </a>
      <a data-page="pongTournament" href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1 text-center text-white">
        tournament <br />unregistered
      </a>
  </div>
</div>
