<div class="defdiv min-w-90">
  <div class="relative flex flex-col justify-center indiv  w-1/2">
    <h1>skin</h1>
    <h1>preview</h1>
    <img src="../../public/Edit.png" alt="Edit"
      class="absolute bottom-3 right-3 size-10 bg-light p-1 rounded-md hover:bg-lightlight hover:rotate-180" />

  </div>
  <div class="flex flex-col w-1/2">
    <a href="#" data-page='pongGame' class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">SOLO</a>
    <a href="#" data-page='pongTournament' class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">tournament</a>
  </div>
</div>
</div>
