<div id="game-container" class="flex flex-col items-center justify-center">
</div>
<div id="modal-pong" class="fixed z-50 inset-0  bg-darkdark/[.50] flex justify-center items-center hidden">
  <div class="bg-medium rounded-lg p-1 w-100">
    <form id="alias-form" class="bg-light rounded-lg p-3 m-4 flex flex-col justify-center items-center">
      <label for="alias" id="alias-label"
        class="flex flex-col justify-between text-center items-center text-dark text-2xl">
        Choose an alias
        <input name="alias" id="alias" type="text" placeholder="ex: Warlutin"
          class="text-darkdark text-base bg-lightlight rounded-4xl p-2 mt-4 mb-6 border-2 border-lightlight focus:outline-none focus:border-dark ">
      </label>
      <div class="w-full flex justify-evenly">
        <button type="submit"
          class="cursor-pointer w-24 p-1.5 rounded-4xl bg-darkdark text-lightlight duration-300 ease-initial hover:scale-110 hover:bg-medium hover:text-dark">Submit</button>
        <button type="reset" data-page="home"
          class="cursor-pointer w-24 p-1.5 rounded-4xl bg-darkdark text-lightlight duration-300 ease-initial hover:scale-110 hover:bg-medium hover:text-dark">Cancel</button>
      </div>
    </form>
  </div>
</div>
