<div class="flex justify-center">

<div class=" p-10defdiv min-w-90 size-full flex flex-col items-start m-4 max-w-300 ">
  <h1 class="text-3xl text-mediumdark"> Trancendence's Privacy Policy </h1>
  <h3 class="text-l text-mediumdark"> Last updated: 2023-10-02 </h2>
    <p class="text-mediumlightdark text-left">
      At Transcendence, we are committed to protecting your privacy and ensuring the security of your personal
      information. This privacy policy explains the data we collect, why we collect it, and how we use it. By using our
      service, you agree to the practices described in this policy.
    </p>
    <h2 class="text-l text-mediumdark"> <br />1. Information Collected </h2>
    <p class="text-mediumlightdark text-left">
      We collect the following information when you sign up or fill out a form:
    </p>
    <ul class="list-disc pl-10 text-left">
      <li>Email address</li>
      <li>Pseudonym</li>
      <li>Gmail account</li>
    </ul>

    <h2 class="text-l text-mediumdark"> <br />2. Methods of Collection </h2>
    <p class="text-mediumlightdark text-left">
      The information is collected when you sign up or fill out forms on our platform.
    </p>

    <h2 class="text-l text-mediumdark"> <br />3.Use of Data </h2>
    <p class="text-mediumlightdark text-left">
      The data collected is used for the following purposes:
    </p>
    <ul class="list-disc pl-10 text-left">
      <li>Improving our services</li>
      <li>Personalizing your experience</li>
      <li>Communicating important information about your account and our services</li>
    </ul>
    <p class="text-mediumlightdark text-left">
      We do not share your data with third parties.
    </p>

    <h2 class="text-l text-mediumdark"> <br />4. Data Sharing </h2>
    <p class="text-mediumlightdark text-left">
      We do not share or transfert your personal information to third parties. There are no subcontractors or partners
      with acces to your data.
    </p>

    <h2 class="text-l text-mediumdark"> <br />5. Data Security </h2>
    <p class="text-mediumlightdark text-left">
      The security of your data is paramount to us. We use an encrypted database and have implemented a WAF (Web
      Application Firewall) and ModSecurity to protect your information from unauthorized access.
    </p>

    <h2 class="text-l text-mediumdark"> <br />6. Data Retention </h2>
    <p class="text-mediumlightdark text-left">
      We retain your personal information for a period of 6 months from your last login. If your account remains
      inactive during this period, your information will be deleted from our database.
    </p>

    <h2 class="text-l text-mediumdark"> <br />7. User Rights </h2>
    <p class="text-mediumlightdark text-left">
      You have the right to access, modify, or request the deletion of your personal information at any time. If you
      wish to exercise any of these rights, please contact us using the information below. </p>

    <h2 class="text-l text-mediumdark"> <br />8. Cookies and Similar Technologies</h2>
    <p class="text-mediumlightdark text-left">
      We do not collect data via cookies or any other tracking technologies.</p>

    <h2 class="text-l text-mediumdark"> <br />9. Policy Changes</h2>
    <p class="text-mediumlightdark text-left">
      We reserve the right to modify this privacy policy at any time. Any changes will be communicated to our users via
      email.</p>
    <h2 class="text-l text-mediumdark"> <br />10. Contact </h2>
    <p class="text-mediumlightdark text-left">
      If you have any questions or concerns regarding this privacy policy, please contact us at the following email
      address: mael@buchs.fr </p>

</div>
</div>
