<div class="mt-4 mb-3 w-full align-middle flex flex-col items-center">
  <div class="min-w-3xl">
    <h1 class="text-3xl text-mediumdark"> ABOUT US</h1>
    <h2 class="text-2xl text-mediumlightdark"> Welcome to <a hreh="#" data-page="home"
        class="hover:text-mediumdark">Transcendance</a></h2>
  </div>



  <div class="max-w-3xl flex-col flex">
    <div class="defdiv min-w-90 size-full flex flex-col items-start">
      <h1 class="text-xl">What is Transcendance ?</h1>
      <div class="relative flex flex-col justify-center items-start indiv  w-full">
        <p class="text-left m-3">Transcendence is a web application project developed as part of the <a
            target="_blank" href="https://42.fr" class="text-dark">42 School </a> curriculum. The project focuses on creating a
          single-page application around
          the game of <a target="_blank" href="https://en.wikipedia.org/wiki/Pong" class="text-dark">Pong</a> with multiplayer
          capabilities.
        </p>
      </div>
    </div>
    <div class="defdiv min-w-90 size-full flex flex-col items-start">
      <h1 class="text-xl">Main Features</h1>
      <div class="relative flex flex-col justify-center items-start indiv  w-full">
        <ul class="text-left m-3">
          <li>
            • Single-page application
          </li>
          <li>
            • Real-time multiplayer Pong game
          </li>
          <li>
            • User authentication via Google Sign-In
          </li>
          <li>
            • User profiles
          </li>
          <li>
            • Match history
          </li>
          <li>
            • Simple Player statistics
          </li>
        </ul>
        <p class="text-left m-3"> The project also implements mandatory security features and uses modern web
          technologies
          to create a functional gaming
          platform.
        </p>
      </div>
    </div>


    <div class="defdiv min-w-90 size-full flex flex-col items-start">
      <h1 class="text-xl">Team Members</h1>
      <div class="relative flex items-start indiv w-full flex-row p-3">
        <img src="DefaultProfilePic.png" class="rounded-2xl size-30">
        <div class="w-full text-left">
          <h1 class="text-xl m-2 ml-3"> <a target="_blank" href="https://github.com/Nyantad"> Aurel Suc</a> (<a
              target="_blank" href="https://intra.42.fr/users/asuc">asuc</a>)</h1>
          <p class="text-left m-3">blablabla je suis le dev blablabla je suis le dev blablabla je suis le dev blablabla
            je
            suis le dev blablabla je suis le dev blablabla je suis le dev
          </p>
        </div>

      </div>
      <div class="relative flex items-start indiv w-full flex-row p-3">
        <img src="Cblonde.jpg" class="rounded-2xl size-30">
        <div class="w-full text-left">
          <h1 class="text-xl m-2 ml-3"> <a target="_blank" href="https://github.com/ChristopheBlonde">Christophe Blonde</a> (<a
              target="_blank" href="https://intra.42.fr/users/cblonde">cblonde</a>)</h1>
          <p class="text-left m-3">blablabla je suis le dev blablabla je suis le dev blablabla je suis le dev blablabla
            je
            suis le dev blablabla je suis le dev blablabla je suis le dev
          </p>
        </div>

      </div>
      <div class="relative flex items-start indiv w-full flex-row p-3">
        <img src="DefaultProfilePic.png" class="rounded-2xl size-30">
        <div class="w-full text-left">
          <h1 class="text-xl m-2 ml-3"> <a target="_blank" href="https://github.com/Glag7">Gabriel Laguyonie</a> (<a
              target="_blank" href="https://intra.42.fr/users/glaguyon">glaguyon</a>)</h1>
          <p class="text-left m-3">I made the font and the cat !!
          </p>
        </div>

      </div>
      <div class="relative flex items-start indiv w-full flex-row p-3">
        <img src="Mbuchs.png" class="rounded-2xl size-30">
        <div class="w-full text-left">
          <h1 class="text-xl m-2 ml-3"> <a target="_blank" href="https://github.com/maelBuchs"> Mael Buchs</a> (<a
              target="_blank" href="https://intra.42.fr/users/mbuchs">mbuchs</a>)</h1>
          <p class="text-left m-3">blablabla je suis le dev blablabla je suis le dev blablabla je suis le dev blablabla
            je
            suis le dev blablabla je suis le dev blablabla je suis le dev
          </p>
        </div>

      </div>
    </div>

    <div class="max-w-3xl flex-col flex">
      <div class="defdiv min-w-90 size-full flex flex-col items-start">
        <h1 class="text-xl"> Technologies used:
        </h1>
        <div class="relative flex flex-col justify-center items-start indiv  w-full  text-left">
          <ul class="m-4">
            <li>
              Frontend: TypeScript, Vite.js, Tailwind CSS
            </li>
            <li>
              Backend: Node.js, Fastify, SQLite
            </li>
            <li>
              Infrastructure: Docker, Nginx
            </li>
            <li>
              Security: JWT, HTTPS
            </li>
            <li>
              Tools: ESLint, TypeScript
            </li>
          </ul>
        </div>
      </div>

      <div class="defdiv min-w-90 size-full flex flex-col items-start">
        <div class="relative flex flex-col justify-center items-start indiv  w-full">
          <p class="text-left m-3">
            This project was developed in April 2025 as part of the 42 curriculum.<br />
            You can find the source code on our GitHub repository right <a
              target="_blank" href="https://github.com/maelBuchs/Transcendence" class="text-dark"> here </a>
          </p>
        </div>
      </div>
    </div>
  </div>