<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Transcendence</title>
  <link href="../styles/index.css" rel="stylesheet" />
</head>

<div id="header-container"></div>
<script src="../header.ts"></script>

<body>



  <div class="defdiv min-w-90 size-full">
    <div class="relative flex flex-col justify-center indiv  w-1/2">
      <h1>skin</h1>
      <h1>preview</h1>
      <img src="../../public/Edit.png" alt="Edit"
        class="absolute bottom-3 right-3 size-10 bg-light p-1 rounded-md hover:bg-lightlight hover:rotate-180" />

    </div>
    <div class="flex flex-col w-1/2">
      <!-- <a href="#" class="p-3 hover:bg-lightlight block">INVITE <br/> friend</a> -->
      <!-- <a href="#" class="p-3 hover:bg-lightlight block">INVITE <br/> friend</a> -->
      <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">SOLO</a>
      <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">INVITE <br /> friend</a>
      <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">join <br />tournament</a>
      <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">create<br /> tournament</a>

    </div>
  </div>


  <script src="./../main.ts"></script>
  <script src="./../login.ts"></script>
  <script src="./../switch-page.ts"></script>
</body>

<footer class="w-full mt-5 p-10 pt-16 text-xs text-center p-4 bg-mediumdark text-darkdark">
  <p>© 2024 Transcendence - All rights reserved</p>
  <div class="mt-2 flex justify-center space-x-4">
    <a href="/home" class="text-darkdark hover:text-white">Home</a>
    <a href="/contact" class="text-darkdark hover:text-white">Contact</a>
    <a href="/faq" class="text-darkdark hover:text-white">FAQ</a>
    <a href="/about-us" class="text-darkdark hover:text-white">About Us</a>
    <a href="/terms-of-service" class="text-darkdark hover:text-white">Terms of Service</a>
    <a href="/privacy-policy" class="text-darkdark hover:text-white">Privacy Policy</a>
    <a href="/legal-notice" class="text-darkdark hover:text-white">Legal Notice</a>
  </div>
</footer>

</html>