<div class="defdiv min-w-90 size-full m-">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>ASUC</h1>
    <p>asuc presentation</p>
  </div>

</div>
<div class="defdiv min-w-90 size-full m-">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>cblonde</h1>
    <p>cblonde presentation</p>
  </div>

</div>
<div class="defdiv min-w-90 size-full m-">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>glaguyon</h1>
    <p>glaguyon presentation</p>
  </div>

</div>
<div class="defdiv min-w-90 size-full m-">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>mbuchs</h1>
    <p>mbuchs presentation</p>
  </div>

</div>