<header>
  <div class="container mx-auto flex lex-row items-center justify-between">

    <img src="../../public/BurgerMenu.png" alt="Menu" id="burger-icon" class="burger-icon size-6 left" />
    <nav class="">
      <ul id="nav-desktop" class="flex space-x-4">
        <li>
          <a href="#" class="text-light hover:-gray-300">Profile</a>
        </li>
        <li>
          <a href="#" class="text-light hover:text-gray-300">History</a>
        </li>
        <li>
          <a href="#" class="text-light hover:text-gray-300">Friends</a>
        </li>
        <li>
          <a href="#" class="text-light hover:text-gray-300">About us</a>
        </li>
        </li>
      </ul>
    </nav>
    <h1 class="text-lightlight font-bold text-2xl hover:rotate-180 transition-transform duration-300 mr-10">
      Transcendance</h1>
    <a href="#" id="loginLink" class="text-white hover:text-medium mb-"><img src="../../public/DefaultProfilePic.png"
        class="size-12 rounded-xl hover:rounded-4xl hover:brightness-200 duration-300"> </a>
  </div>
  <div id="nav-mobile" class="nav-mobile fixed  mt-19 inset-0 z-49 bg-darkdark/[.50]">
    <div class="burger-bg bg-mediumdark w-2/3 h-full">
  
      <ul class="block w-full">
        <li>
          <a href="#" class="burger-btn">Profile</a>
        </li>
        <li>
          <a href="#" class="burger-btn">History</a>
        </li>
        <li>
          <a href="#" class="burger-btn">Friends</a>
        </li>
        <li>
          <a href="#" class="burger-btn">About Us</a>
        </li>
    </div>
    </ul>
  </div>
</header>