<!-- BODY -->
<div class="content">
  <div class="defdiv min-w-90 size-full">
    <div class="relative flex flex-col justify-center indiv  w-1/2">
      <h1>skin</h1>
      <h1>preview</h1>
      <img src="Edit.png" alt="Menu"
        class="absolute bottom-3 right-3 size-10 bg-light p-1 rounded-md hover:bg-lightlight hover:rotate-180" />

    </div>
    <div class="flex flex-col w-1/2"> <a href="#"
        class="registerLink block text-white bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">create <br /> account</a>
      <a data-page="pongGame" href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">play
        <br /> unregistered</a>

    </div>
  </div>


  <div class="mt-1 defdiv max-w-1/2 min-w-90 h-90 ">
    <div class="relative flex flex-col justify-center indiv  w-full">
      <h1>placeholder</h1>
    </div>
  </div>
  <div class="defdiv max-w-1/2 h-90 min-w-90">
    <div class="relative flex flex-col justify-center indiv  w-full">
      <h1>placeholder</h1>
    </div>
  </div>
</div>