<!-- BODY -->
<div class="content min-h-screen flex justify-center items-center">
  <div class="defdiv w-fit">
    <div class="flex flex-col"> <!-- Removed w-1/2 -->
      <a href="#" class="registerLink block text-white bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1 text-center">
        create <br />account
      </a>
      <a data-page="pongGame" href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1 text-center text-white">
        play <br />unregistered
      </a>
    </div>
  </div>
</div>
