<div class="defdiv min-w-90">
  <div class="relative flex flex-col justify-center indiv  w-1/2">
    <h1>skin</h1>
    <h1>preview</h1>
    <img src="../../public/Edit.png" alt="Edit"
      class="absolute bottom-3 right-3 size-10 bg-light p-1 rounded-md hover:bg-lightlight hover:rotate-180" />

  </div>
  <div class="flex flex-col w-1/2">
    <a href="#" data-page='pongGame' class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">SOLO</a>
    <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">INVITE <br /> friend</a>
    <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">join <br />tournament</a>
    <a href="#" class="block bg-mediumlightdark rounded-xl p-3 hover:bg-mediumdark m-1">create<br /> tournament</a>

  </div>
</div>

<div class="defdiv max-w-1/2 min-w-90 h-90 mt-0">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>placeholder</h1>
  </div>
</div>
<div class="defdiv max-w-1/2 h-90 min-w-90">
  <div class="relative flex flex-col justify-center indiv  w-full">
    <h1>placeholder</h1>
  </div>
</div>
